/* variabel */
:root{
	--warna1: #f9ed6f;
	--warna2: #f9ed4e;
	--warna3: #f6b042;
	--warna4: #58595B;
	--warna5: #231F20;
	--warna6: #05D769;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}

.dark{
	background-color: var(--warna5);
	color: white;
}

.default{
	background-color: white;
	color: var(--warna5);
}

/* side scroll */
body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background-color: transparent
}

body::-webkit-scrollbar-thumb{
  background-color: var(--warna4);
	/* border-radius: 5px; */
}

/* slider items */
.slide-items{
	height: calc(100vh/1.5);
}

.slide-1 .slide-items .slide-image::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: 25%;
	display: block;
	width: 100%;
	height: 100%;
	background-color: black;
}

.slide-1 .owl-nav button:focus{
	outline: none;
}

.slide-1 .owl-nav .owl-prev{
	position: absolute;
	top: 50%;
  left: 0;
  transform: translate(0, -50%);
	height: 100%;
}

.slide-1 .owl-nav .owl-prev:hover i{
	color: var(--warna1);
	font-size: 5rem;
}

.slide-1 .owl-nav .owl-prev i{
	font-size: 3rem;
	color: white;
	transition: .2s;
}

.slide-1 .owl-nav .owl-next{
	position: absolute;
	top: 50%;
  right: 0;
  transform: translate(0, -50%);
	height: 100%;
}

.slide-1 .owl-nav .owl-next:hover i{
	color: var(--warna1);
	font-size: 5rem;
}

.slide-1 .owl-nav .owl-next i{
	font-size: 3rem;
	color: white;
	transition: .2s;
}

/* Slider dots */
.slide-1 .owl-dots{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	padding-bottom: 1.5rem;
}

.slide-1 .owl-dots button:focus{
	outline: none;
}

.slide-1 .owl-dots .owl-dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--warna5);
	margin: 0 .5rem;
	transition: .5s;
	opacity: 50%;
}

.slide-1 .owl-dots .owl-dot.active{
	width: 30px;
	height: 10px;
	border-radius: 20px;
	background-color: white;
	margin: 0 .5rem;
	opacity: 100%;
}

/* slider 2 */
.slide-2 .owl-stage-outer .owl-stage{
	padding: 1rem 0;
} 

.slide-2 .owl-stage-outer .owl-stage{
	display: flex !important;
} 

.slide-2 .owl-stage-outer .owl-stage .owl-item .items-testi{
	height: auto;
}

/* slider items */
.slide-2 .owl-nav{
	padding-top: 1rem;
	text-align: center;
}

.slide-2 .owl-nav button:focus{
	outline: none;
}

.slide-2 .owl-nav .owl-prev{
	margin: 0 .5rem;
	background-color: var(--warna5) !important;
	border-radius: 5px;
}

.slide-2 .owl-nav .owl-prev:hover i{
	color: var(--warna1);
}

.slide-2 .owl-nav .owl-prev i{
	font-size: 2rem;
	color: white;
	transition: .2s;
}

.slide-2 .owl-nav .owl-next{
	margin: 0 .5rem;
	background-color: var(--warna5) !important;
	border-radius: 5px;
}

.slide-2 .owl-nav .owl-next:hover i{
	color: var(--warna1);
}

.slide-2 .owl-nav .owl-next i{
	font-size: 2rem;
	color: white;
	transition: .2s;
}

.bg-warna1{
	background-color: var(--warna1);
}
.bg-warna2{
	background-color: var(--warna2);
}
.bg-warna3{
	background-color: var(--warna3);
}
.bg-warna4{
	background-color: var(--warna4);
}
.bg-warna5{
	background-color: var(--warna5);
}
.bg-warna6{
	background-color: var(--warna6);
}
.hover\:bg-warna1:hover{
	background-color: var(--warna1);
}
.hover\:bg-warna2:hover{
	background-color: var(--warna2);
}
.hover\:bg-warna3:hover{
	background-color: var(--warna3);
}
.hover\:bg-warna4:hover{
	background-color: var(--warna4);
}
.hover\:bg-warna5:hover{
	background-color: var(--warna5);
}
.text-warna1{
	color: var(--warna1);
}
.text-warna2{
	color: var(--warna2);
}
.text-warna3{
	color: var(--warna3);
}
.text-warna4{
	color: var(--warna4);
}
.text-warna5{
	color: var(--warna5);
}
.hover\:text-warna1:hover{
	color: var(--warna1);
}
.hover\:text-warna2:hover{
	color: var(--warna2);
}
.hover\:text-warna3:hover{
	color: var(--warna3);
}
.hover\:text-warna4:hover{
	color: var(--warna4);
}
.hover\:text-warna5:hover{
	color: var(--warna5);
}
.bg-gradient-madu{
	background: rgb(249,237,111);
	background: linear-gradient(90deg, rgba(249,237,111,1) 0%, rgba(249,237,78,1) 30%, rgba(246,176,66,1) 100%);
}
.border-b-warna{
	border-color: var(--warna5);
}

/* Your Code Start here */